@using PioPioBlazor.Models

<div class="max-w-sm w-full lg:max-w-full lg:flex mb-8">
    <div class="h-40 lg:h-auto lg:w-40 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden border border-gray-400">
        <img class="p-8" src="@State.ImageUrl" alt="@State.Text" />
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal w-full">
        <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">
                <a href="@State.Url" target="_blank" class="hover:text-blue-300">

                    @State.Text
                </a>
            </div>
            <p class="text-gray-700 text-base">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="12" viewBox="0 -91 512 512" width="12"><path d="m512 250.6-79.8 79.7-80.4-80 28.2-28.3 31.9 31.7v-193.6c0-5.3-2-10.2-5.7-14-3.8-3.8-8.8-5.9-14.1-5.9h-215.2l-40.1-40h255.4c16.1 0 31.2 6.3 42.5 17.7 11.3 11.3 17.4 26.4 17.3 42.4v193.9l31.9-31.8zm-184 39.4h-208c-5.4 0-10.4-2.1-14.1-5.9-3.7-3.7-5.8-8.7-5.7-14v-193.6l31.9 31.7 28.2-28.3-80.4-80-79.8 79.7 28.3 28.3 31.9-31.8v193.9c-0.1 16 6.1 31 17.3 42.4 11.3 11.4 26.4 17.7 42.5 17.7h255.4l-40.1-40zm0 0" /></svg>
                @State.RetweetCount
                <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="12" width="12" viewBox="0 0 512 512"><path d="M474.6 74.3C449.4 45.6 414.4 29.8 376 29.8c-53.9 0-88.1 32.2-107.3 59.3 -5 7-9.2 14-12.7 20.7 -3.5-6.6-7.8-13.7-12.7-20.7 -19.2-27-53.3-59.2-107.3-59.2 -38.4 0-73.4 15.8-98.6 44.4C13.3 101.6 0 138.2 0 177.4c0 42.6 16.6 82.2 52.3 124.7 31.9 38 77.8 77.1 131 122.4 19.8 16.9 40.3 34.3 62.1 53.4l0.7 0.6c2.8 2.5 6.4 3.7 9.9 3.7s7.1-1.2 9.9-3.7l0.7-0.6c21.8-19.1 42.3-36.5 62.1-53.4 53.2-45.3 99.1-84.4 131-122.4C495.4 259.6 512 220 512 177.4 512 138.2 498.7 101.6 474.6 74.3zM309.2 401.6c-17.1 14.6-34.7 29.5-53.2 45.6 -18.5-16.1-36.1-31.1-53.2-45.6C98.7 312.9 30 254.4 30 177.4c0-31.8 10.6-61.4 29.9-83.2C79.3 72 106.4 59.8 136 59.8c41.1 0 67.7 25.3 82.8 46.6 13.5 19.1 20.6 38.3 23 45.7 2 6.2 7.8 10.4 14.3 10.4 6.5 0 12.3-4.2 14.3-10.4 2.4-7.4 9.5-26.6 23-45.7 15.1-21.3 41.6-46.6 82.8-46.6 29.6 0 56.7 12.2 76.1 34.3C471.4 116 482 145.5 482 177.4 482 254.4 413.3 312.9 309.2 401.6z" /></svg>
                @State.FavoriteCount
            </p>
        </div>
        <div class="flex items-center">
            <img class="w-10 h-10 rounded-full mr-4" src=@State.UserProfileImageUrl alt="Avatar of Jonathan Reinink">
            <div class="text-sm">
                <p class="text-gray-900 leading-none"><a class="hover:text-blue-300" href="@State.UserProfileUrl" target="_blank">@State.UserScreenName</a></p>
                <p class="text-gray-600">@State.CreatedAt.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Models.Tweet State { get; set; } = new Models.Tweet();
}