@page "/"

@using PioPioBlazor.Services
@inject TwitterService TwitterService

@if (_tweets == null)
{
    <div class="lds-facebook mx-auto">
        <div class="bg-blue-400"></div><div class="bg-blue-400"></div><div class="bg-blue-400"></div>
    </div>
}
else if (_tweets.Count() == 0)
{
    <h2 class="mb-10">You have reached the Twitter request limit. Please, try again in 10 - 15 minutes.</h2>
    <button class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" @onclick="() => {_retry = true;}">
        Try Again
    </button>
}
else
{
    <TagSelector TItem="string"
                 SelectableTags="_hashTags"
                 @bind-SelectedTags="SelectedHashTags" Filter="@((item,term) => item.ToLower().Contains(term.ToLower()))"
                 Placeholder="Select hashtags to filter by..."
                 OnCreateTag="HandleCreateTag"
                 OnTagSelected="HandleSelectedTagsChange"
                 OnTagRemoved="HandleSelectedTagsChange">
        <TagTemplate>@context</TagTemplate>
    </TagSelector>

    <TagSelector TItem="string"
                 SelectableTags="_languages"
                 @bind-SelectedTags="SelectedLanguages" Filter="@((item,term) => item.ToLower().Contains(term.ToLower()))"
                 Placeholder="Select languages to filter by..."
                 OnCreateTag="HandleCreateLanguageTag"
                 OnTagSelected="HandleSelectedLanguagesChange"
                 OnTagRemoved="HandleSelectedLanguagesChange">
        <TagTemplate>@context</TagTemplate>
    </TagSelector>

    <h2 class="mb-8">@_numberOfTweetsPreloaded tweets retrieved</h2>

    int i;
    @for (i = 0; i < _filteredTweets.Count() && i < _numberOfTweetsShown; i++)
    {
        <Tweet State="@_filteredTweets[i]" />
    }

    if (i < _numberOfTweetsPreloaded)
    {
        <button class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" @onclick="() => {_numberOfTweetsShown += 10; _loadMoreTweets = true; }">
            Load More Tweets
        </button>
    }
}

@code {
    private int _numberOfTweetsShown = 10;
    private int _numberOfTweetsPreloaded = 0;
    private bool _retry = false;
    private bool _loadMoreTweets = false;
    private IEnumerable<Models.Tweet>
    _tweets;
    private List<Models.Tweet>
        _filteredTweets;
    private IEnumerable<string>
        _hashTags;
    private IEnumerable<string>
        _languages;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || _retry || _loadMoreTweets)
        {
            // When execution reaches this point, the first *interactive* render
            // is complete. The component has an active connection to the browser.
            _numberOfTweetsPreloaded = await TwitterService.PreloadHomeTimelineTweets(_retry);
            _tweets = TwitterService.GetHomeTimelineTweets(_numberOfTweetsShown);
            _filteredTweets = new List<Models.Tweet>
                (_tweets);
            _hashTags = _tweets.SelectMany(t => t.HashTags).OrderBy(t => t);
            _languages = _tweets.Select(t => Models.Tweet.Languages[t.Language]).OrderBy(t => t);
            _retry = false;
            _loadMoreTweets = false;
            StateHasChanged();
        }
    }

    IList<string>
        SelectedHashTags = new List<string>
            ();

    void HandleCreateTag(string tag)
    {
        SelectedHashTags.Add(tag);
    }

    void HandleSelectedTagsChange(string tag)
    {
        if (SelectedHashTags.Count > 0)
        {
            _filteredTweets = new List<Models.Tweet>
                (_tweets.Where(t => t.HashTags.Intersect(SelectedHashTags).Any()));
        }
        else
        {
            _filteredTweets = new List<Models.Tweet>
                (_tweets);
        }
    }

    IList<string>
        SelectedLanguages = new List<string>
            ();

    void HandleCreateLanguageTag(string tag)
    {
        SelectedLanguages.Add(tag);
    }

    void HandleSelectedLanguagesChange(string tag)
    {
        if (SelectedLanguages.Count > 0)
        {
            _filteredTweets = new List<Models.Tweet>
                (_tweets.Where(t => SelectedLanguages.Contains(Models.Tweet.Languages[t.Language])));
        }
        else
        {
            _filteredTweets = new List<Models.Tweet>
                (_tweets);
        }
    }

}